body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f2efe8;
}
/*Fuentes que puedes elegir
	font-family: 'IndieFlower';
	font-family: 'LoveYaLikeASister-Regular';
	font-family: 'Montserrat-Regular';
	font-family: 'Montserrat-Bold';
	font-family: 'Padauk-Regular';
	font-family: 'Padauk-Bold';
	font-family: 'ShadowsIntoLight';
*/