/* ---- masonry ---- */

.masonry {
  background: #b0aac2;
}

/* clear fix */
.masonry:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .masonry-item ---- */

.masonry-sizer,
.masonry-item {
  width: calc((100% / 4) - 20px);
  padding: 10px;
}

.masonry-item:hover .label {
	color: #ee4c4c;
  font-family: 'Oswald',sans-serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 2em;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 0 #f5f5f5, 4px 4px 0 #ccc;
  text-transform: uppercase;
}
.masonry-item {
  float: left;
}

.masonry-item img {
  display: block;
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
   .masonry-sizer,
.masonry-item {
  width: calc((100% / 3) - 20px);
  padding: 10px;
}
}
@media only screen and (max-width: 480px) {
   .masonry-sizer,
.masonry-item {
  width: calc((100% / 2) - 10px);
  padding: 5px;
}

}


